
  <nav class="flex justify-center px-8 relative h-16 py-4 mb-4">

    <!-- Menú centrado flotante -->
    <div class="absolute left-1/2 transform -translate-x-1/2 rounded-full shadow-md px-6  flex space-x-2 bg-gray-200">
      <ul class="menu menu-horizontal space-x-3">
        <li>
          <a class="rounded-full hover:bg-base-300 transition">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
            Home
          </a>
        </li>
        <li>
          <details class="rounded-full">
            <summary>Reservar</summary>
            <ul class="bg-gray-100 rounded-xl shadow-lg mt-2 w-48 p-4">
              <li><a (click)="navigateToCalendar()">Calendario</a></li>
              <li><a (click)="navigateToReservationList()">Lista de Reservas</a></li>
              <li><a (click)="navigateToNewReservation()">Reservar Pista</a></li>
            </ul>
          </details>
        </li>
        <li>
          <a href="results-stats-page" class="rounded-full hover:bg-base-300 transition">
            Resultados
          </a>
        </li>
      </ul>
    </div>

    <!-- Botones Login/Register (flotantes a la derecha) -->

    <div class="absolute right-8   rounded-full shadow-md px-2 flex space-x-2 bg-gray-200">
      <ul class="menu menu-horizontal space-x-3">
        <li>
          <a class="rounded-full px-4  bg-blue-500 text-white hover:bg-blue-600 transition">
            Login
          </a>
        </li>
        <li>
          <a class="rounded-full px-4  bg-green-500 text-white hover:bg-green-600 transition">
            Register
          </a>
        </li>
      </ul>
    </div>
  </nav>


