<section class="p-4 space-y-6">
  <h2 class="text-xl font-semibold mb-4">Añadir jugadores</h2>

  <div class="space-y-4">
    @for (player of players.controls; track $index) {
      <div
        [formGroup]="player"
        class="flex flex-col sm:flex-row sm:items-center sm:gap-4 border p-3 rounded-xl pt-3"
      >
        <!-- Campos -->
        <div class="flex-1 grid grid-cols-1 sm:grid-cols-3 gap-4">
          <mat-form-field >
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="username" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="surname" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telephone" />
          </mat-form-field>
        </div>

        <!-- Botón eliminar jugador -->
        <button
          mat-icon-button
          color="warn"
          class="self-center sm:self-auto sm:ml-2 align-top"
          (click)="removePlayer($index)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </div>


  <!-- Botones de acción -->
  <div class="flex justify-between mt-4">
    <button mat-flat-button color="primary" type="button" (click)="addPlayer()">
      <mat-icon>person_add</mat-icon>
      Añadir jugador
    </button>

    <button mat-flat-button color="accent" type="button" (click)="onSubmit()" [disabled]="!playersForm.valid">
      <mat-icon>check_circle</mat-icon>
      Confirmar reserva
    </button>
  </div>
</section>
