@import "tailwindcss";
@plugin "daisyui";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";



footer {
  text-align: center;
  color: var(--color-black);
  background-color: var(--back-footer-grey);
}

nav {
  margin-bottom: calc(var(--spacing) * 4);
  background-color: var(--back-grey);
}