<form
  class="form"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex">
    <label class="flex-1">
      <input
        required=""
        placeholder="Nombre"
        type="text"
        class="input"
        formControlName="name"
      />
    </label>

    <label class="flex-1">
      <input
        required=""
        placeholder="Apellido"
        type="text"
        class="input"
        formControlName="surname"
      />
    </label>
  </div>
  @if ( formUtils.isValidField(registerForm, 'name')) {
    <span class="form-text text-danger">
      {{ formUtils.getFieldError(registerForm, "name") }}
    </span>
  }
  @if ( formUtils.isValidField(registerForm, 'surname')) {
    <span class="form-text text-danger">
      {{ formUtils.getFieldError(registerForm, "surname") }}
    </span>
  }

  <label>
    <input
      required=""
      placeholder="Correo electrónico"
      type="email"
      class="input"
      formControlName="email"
    />
  </label>
  @if ( formUtils.isValidField(registerForm, 'email')) {
    <span class="form-text text-danger">
      {{ formUtils.getFieldError(registerForm, "email") }}
    </span>
  }

  <label>
    <input
      required=""
      placeholder="Teléfono"
      type="tel"
      class="input"
      formControlName="telephone"
      pattern="[0-9]{9}"
      maxlength="9"
    />
  </label>
  @if ( formUtils.isValidField(registerForm, 'telephone')) {
    <span class="form-text text-danger">
      {{ formUtils.getFieldError(registerForm, "telephone") }}
    </span>
  }

  <label>
    <input
      required=""
      placeholder="Contraseña"
      type="password"
      class="input"
      formControlName="password"
    />
  </label>
  @if ( formUtils.isValidField(registerForm, 'password')) {
    <span class="form-text text-danger">
      {{ formUtils.getFieldError(registerForm, "password") }}
    </span>
  }

  <label>
    <input
      required=""
      placeholder="Confirmar contraseña"
      type="password"
      class="input"
      formControlName="confirmPassword" />
  </label>
  @if ( formUtils.isValidField(registerForm, 'confirmPassword')) {
    <span class="form-text text-danger">
      {{ formUtils.getFieldError(registerForm, "confirmPassword") }}
    </span>
  }

  <button type="submit" class="submit">Submit</button>
    <p class="signin">
    Already have an account?
    <a routerLink="/auth/login">Sign In</a> 
  </p>
</form>

@if(errorMessage()) {
  <div
    role="alert"
    class="alert alert-error animate-fadeIn fixed bottom-5 right-5 w-auto max-w-xs" >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    
    <span>{{ errorMessage() }}</span>

  </div>
}